{% extends "public/dashboard.html" %}

{% block mainRight %}
  {% block rightHeader %}
    <h2 class="mb-4">Guide Management</h2> 
  {% endblock %}
  {% block rightContent %}
    <div class="d-flex justify-content-between mb-3"> 
        {%if roleid==1 %}
            <a href="{{ url_for('guide_add', role='admin') }}" class="btn btn-success btn-sm">Create Guide</a>
        {%elif roleid == 2 %}
            <a href="{{ url_for('guide_add', role='staff') }}" class="btn btn-success btn-sm">Create Guide</a>
        {%endif%}
    </div>
    <div class="container my-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Common Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Present in NZ</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for guide in guide_list %}
            <tr>
              <th scope="row">{{ guide[0] }}</th>
                {% if guide[4]  %}
                    <td><img src="{{url_for('static', filename = 'img/pests/' + guide[4])}}" alt="Thumbnail" style="width: 60px; height: auto;"></td>
                {% else %}
                    <td><img src="{{url_for('static', filename = 'img/homepage_img.jpg')}}" alt="Thumbnail" style="width: 60px; height: auto;"></td>                 
                {%endif%}              
              <td>{{ guide[1] }}</td>
              <td>{{ guide[2] }}</td>
              <td>{{ 'Yes' if guide[3] == 1 else 'No' }}</td>
              <td>
                {%if roleid==1 %}
                    <a href="{{ url_for('guide_edit', role = 'admin', biosecurity_id=guide[0])}}" class="btn btn-sm btn-success"><i class="bi bi-pencil-fill"></i>  Edit</a>
                    <a href="{{ url_for('home')}}" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>  Delete</a>
                {%elif roleid == 2 %}
                    <a href="{{ url_for('guide_edit', role = 'staff', biosecurity_id=guide[0])}}" class="btn btn-sm btn-success"><i class="bi bi-pencil-fill"></i>  Edit</a>
                    <a href="{{ url_for('home')}}" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>  Delete</a>
                {%endif%}               
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
{% endblock %}

