{% extends "public/dashboard.html" %}

{% block mainRight %}
    {% block rightHeader %}
    <h2 class="my-5" >Staff Details</h2>
    {% endblock %}  
    {% block rightContent %}
    <div class="container my-5 ">
       
            <div class="card shadow-lg">
                <div class="card-header bg-success text-white">
                    <h3 class="my-2">{{ staff_info[0][1] }}'s  Profile</h3> <!-- Username -->
                </div>
                <div class="card-body bg-light px-5">
                    <h5 class="card-title" style="font-size: 1.5rem;">{{ staff_info[0][2] + ' ' + staff_info[0][3] }}</h5> <!-- Full Name -->
                    <p class="card-text" style="font-size: 1.2rem;">
                        <p><strong>Email:</strong> {{ staff_info[0][4] }}</p>
                        <p><strong>Work Phone:</strong> {{ staff_info[0][5] }}</p>
                        <p><strong>Staff ID:</strong> {{ staff_info[0][8] }}</p>
                        <p><strong>Join Date:</strong> {{ staff_info[0][6]}}</p>
                        <p><strong>Hire Date:</strong> {{ staff_info[0][9]}}</p>
                        <p><strong>Position:</strong> {{ staff_info[0][10] }}</p>
                        <p><strong>Department:</strong> {{ staff_info[0][11] }}</p>
                        <p><strong>Is Admin:</strong> <span class="{{ 'text-success' if staff_info[0][12] == 1 else 'text-danger' }}">{{ 'Yes' if staff_info[0][12] == 1 else 'No' }}</span></p>
                        <p><strong>Status:</strong> <span class="{{ 'text-success' if staff_info[0][7] == 1 else 'text-danger' }}">{{ 'Active' if staff_info[0][7] == 1 else 'Inactive' }}</span></p>   
                    </p>
                </div>
                <div class="card-footer bg-transparent my-1">
                    <a href="javascript:history.back()" class="btn btn-outline-success">Back</a>
                </div>
            </div>
        
    </div>
    {% endblock %}
{% endblock %}
