{% extends "public/dashboard.html" %}

{% block mainRight %}
    {% block rightContent %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="mb-4">Update your password</h2>
                    <form>
                        <!-- Current Password -->
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" placeholder="••••••••">
                        </div>
                        <!-- New Password -->
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                        </div>
                        <!-- Confirm New Password -->
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password">
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary my-3">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}    
{% endblock %}
