{% extends "base.html" %}
{% block title%}Horticulture Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sticky-top py-4 vh-100 bg-light d-flex flex-column justify-content-start"> 
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/guide"
            style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
            <i class="bi bi-journal-text mx-1"></i>  Horticulture Pest/Disease Guide
          </a>
        </li>
        {% if roleid == 2 %}  <!-- Staff -->
          <li class="nav-item">
            <a class="nav-link" href="/staff/guide" style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
              <i class="bi bi-book mx-1"></i>  Guide Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/staff/user" style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
              <i class="bi bi-people mx-1"></i>  User Management
            </a>
          </li>
        {% elif roleid == 1 %}  <!-- Admin -->
          <li class="nav-item">
            <a class="nav-link" href="/admin/guide" style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
              <i class="bi bi-book mx-1"></i>  Guide Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user" style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
              <i class="bi bi-people mx-1"></i>  User Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/staff" style="border-bottom: 1px solid #dee2e6; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
              <i class="bi bi-person-lines-fill mx-1"></i>  Staff Management
            </a>
          </li>
          
        {% endif %}

          
        </ul>
    </div>

        <!-- Right Content Section -->
    <div class="col-md-10">
      <div class="container mt-5 ">
        {% block mainRight %}            
              <div class="container mt-5 ">
                {% block rightHeader %}           
                {% endblock %}  
                {% block rightContent %}
                {% endblock %}  
              </div>
        {% endblock %} 
      </div>   
    </div>
{% endblock %}    




