{% extends "public/dashboard.html" %}
{% block mainRight %}
  {% block rightHeader %}
    <h2 class="mb-4">Horticulture Pest/Disease Guide</h2>
  {% endblock %}  
  {% block rightContent %}
    <div class="row">
      <!-- Card for each pest/disease -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>                
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/">
            <img src="../../static/img/homepage_img.jpg" class="card-img-top" alt="Horticulture Pest/Disease">
          </a>
          <div class="card-body">
            <h5 class="card-title">Common Name</h5>
            <p class="card-text">Present in NZ: Yes/No</p>
          </div>
        </div>
      </div>    

    </div>
  {% endblock %}  
{% endblock %}    