{% extends "public/dashboard.html" %}
{% block mainRight %}
  {% block rightHeader %}
    <h2 class="mb-4">Horticulture Pest/Disease Guide</h2>
  {% endblock %}  
  {% block rightContent %}
    <div class="row">
      <!-- Card for each pest/disease -->
      {% if guide_list %}
        {% for guide in guide_list %}
          <div class="col-md-4 mb-4">          
            <div class="card">
              <a href="{{ url_for('guide_detail', biosecurity_id=guide[0]) }}" class="">
                {% if guide[3]  %}
                  <img src="{{url_for('static', filename = 'img/pests/' + guide[3])}}" class="card-img-top" alt="Horticulture Pest/Disease" style="aspect-ratio: 1/0.8; object-fit:cover">
                {% else %}
                  <img src="{{url_for('static', filename = 'img/homepage_img.jpg')}}" class="card-img-top" alt="Horticulture Pest/Disease" style="aspect-ratio: 1/0.8; object-fit:cover">  
                {%endif%}
              </a>
              <div class="card-body">
                <h5 class="card-title">{{guide[1]}}</h5>
                <p class="card-text">Present in NZ: {{ 'Yes' if guide[2] == 1 else 'No' }}</p>
              </div>
            </div>
          </div>  
        {% endfor %}  
      {% endif %}
    </div>
  {% endblock %}  
{% endblock %}    