{% extends "public/home.html" %}
{% block title %}Sign In{% endblock %}
{% block main %}
<div class="min-vh-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50" style="background-image: url('../../static/img/homepage_img.jpg'); background-size: cover; background-position: center; background-blend-mode: darken;">
    <div class="text-white " style="width: 100%; max-width: 400px; ">
        <div class="card bg-dark bg-opacity-75 p-3">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase text-white mb-4">Sign In</h5>
                <form class="py-3" action="{{ url_for('login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label text-white">Username: </label>
                        <input class="form-control" type="text" name="username" id="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password: </label>
                        <input class="form-control"type="password" name="password" id="password" required>
                    </div>
                    <div class="msg text-danger" >{{ msg }}</div>
                    <button type="submit" class="btn btn-outline-light w-100 mt-4 my-3">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
